apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

components:
- ../ollama

patches:
  - target:
      kind: Deployment
      name: ollama
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          limits:
            memory: 10Gi
            nvidia.com/gpu: "4"
          requests:
            nvidia.com/gpu: "4"
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: OLLAMA_SCHED_SPREAD
            value: "1"
          - name: OLLAMA_NUM_PARALLEL
            value: "1"
